Package: mesen-orion
Version: 3.0.1
Section: games
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.31), libstdc++6 (>= 10), libgcc-s1 (>= 4.3)
Maintainer: JavocSoft <javocsoft@gmail.com>
Homepage: https://github.com/javocsoft/MesenOrion
Description: Mesen Orion multi-system emulator
 Personalized fork of Mesen packed for Debian/Ubuntu.
 Includes the executable and the required private 
 